{% extends 'base.html' %}
{% block title %}Add book{% endblock %}

{% block content %}

<div class="container py-5">
	<div class="sticky-top d-flex flex-row flex-wrap justify-content-between align-items-center bg-white">
		<h1>Add book to library</h1>
		<a href="{% url 'dashboard' %}" class="btn btn-success" rol="button">Dashboard</a>
	</div>
	<form action="{% url 'add' %}" method="post" class="form-group">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group">
				<label for="{{ field.id_for_label }}">{{ field.label }}</label>
				{{field}}
			</div>

		{% endfor %}
		
		<div class="form-group">
			{{ form.title.label_tag }}
			{{ form.title }}
			<div class="invalid-feedback">
				{% for error in form.title.errors %}
					{{ error }}
				{% endfor %}
			</div>
		</div>
		
		<div class="form-group">
			{{ form.author.label_tag }}
			{{ form.author }}
			<div class="invalid-feedback">
				{% for error in form.author.errors %}
					{{ error }}
				{% endfor %}
			</div>
		</div>
		<input type="submit" class="btn btn-success mt-2 w-100" value="Add">
	</form>
</div>


{% endblock %}